.non{
    background-color: white;
}

.button{
    height: 160px;
    width: 160px;
}

.button1{
    height: 160px;
    width: 160px;
}

.non.uwu{
    background-color: red;
}
.non.uwu1{
    background-color:  green;
}

